@model ThuanPhat.ViewModel.AllServiceViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = Resources.AllService;
    ViewBag.Canonical = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Action("AllService", Culture);
}

<section class="banner-cat all-service">
    <div class="container">
        <div class="cat-name">
            @Resources.AllService
        </div>
    </div>
</section>
<section class="service-cat">
    <div class="container">
        <div class="row">
            @if (Model.ServiceDtos.Any())
            {
                foreach (var item in Model.ServiceDtos)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <a href="@Url.Action("ServiceDetail", new { url = item.Url })">
                                @if (item.Image != null)
                                {
                                    <img data-src="@Path.Combine("/images/services/", item.Image)" src="~/Content/images/img-main/base64.gif" class="lazyload" alt="@item.ServiceName" />
                                }
                                else
                                {
                                    <img src="~/Content/images/img-main/on-image.jpg" alt="@item.ServiceName" />
                                }
                            </a>
                            <div class="body">
                                <div class="service-name truncate">
                                    <a href="@Url.Action("ServiceDetail", new { url = item.Url, Culture })" title="@item.ServiceName">
                                        @item.ServiceName
                                    </a>
                                </div>
                                <div class="desc truncate">
                                    @item.Description
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-12">
                    <p class="alert alert-success small">@Resources.ContentNotUpdate!!!!</p>
                </div>
            }
            @if (Model.ServiceDtos.PageCount > 1)
            {
                <div class="col-12 text-center mt-3">
                    @Html.PagedListPager(Model.ServiceDtos, page => Url.Action("AllService", new { page }))
                </div>
            }
        </div>
    </div>
</section>
@Html.Action("Footer")