@model ThuanPhat.ViewModel.ServiceDetailViewModel
@using Helpers
@{
    ViewBag.Title = Model.ServiceDto.TitleMeta ?? Model.ServiceDto.ServiceName;
    ViewBag.Description = Model.ServiceDto.DescriptionMeta ?? Html.CutString(Html.RemoveHtml(Model.ServiceDto.Description), 150);
    ViewBag.Canonical = Request.Url?.GetLeftPart(UriPartial.Authority) + Url.Action("ServiceDetail", new { url = Model.ServiceDto.Url, Culture });

    if (Model.ServiceDto.Image != null)
    {
        ViewBag.ImageShare = Request.Url?.GetLeftPart(UriPartial.Authority) + Path.Combine("/images/services/", Model.ServiceDto.Image);
    }
}

<div class="bg-breadcrumb">
    <div class="container">
        <ol class="breadcrumb px-0 m-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">@Resources.Home</a></li>
            <li class="breadcrumb-item">
                <a href="@Url.Action("ServiceCategory", "Home", new { url = Model.ServiceDto.CategoryUrl })">
                    @Model.ServiceDto.CategoryName
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">@Model.ServiceDto.ServiceName</li>
        </ol>
    </div>
</div>
<div class="article-detail">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-8 pr-lg-0">
                <div class="box-border shadow mb-4">
                    <h1 class="article-name">@Model.ServiceDto.ServiceName</h1>
                    <span class="date">
                        <i class="far fa-calendar"></i>
                        @Model.ServiceDto.CreateDate.ToString("dd/MM/yyyy")
                    </span>
                    @if (Model.ServiceDto.Description != null)
                    {
                        <div class="sapo-detail">
                            @Html.Raw(Model.ServiceDto.Description)
                        </div>
                    }
                    @if (Model.ServiceDto.Body != null)
                    {
                        <div class="content-detail mt-3">
                            @Html.Raw(Model.ServiceDto.Body)
                        </div>
                    }
                    <hr>
                    <div class="share">
                        <ul class="d-flex align-items-center ul-reset">
                            <li class="mr-3">@Resources.Share:</li>
                            <li><button class="facebook" onclick="window.open('https://www.facebook.com/sharer.php?u='+encodeURIComponent(location.href)+'&amp;t='+encodeURIComponent(document.title));return false"><i class="fab fa-facebook-f"></i></button></li>
                            <li><button class="instagram" onclick="window.open('https://www.instagram.com/?url='+encodeURIComponent(location.href)+'&amp;t='+encodeURIComponent(document.title));return false"><i class="fab fa-instagram"></i></button></li>
                            <li><button class="twitter" onclick="window.open('https://twitter.com/intent/tweet?url='+encodeURIComponent(location.href)+'&amp;text='+encodeURIComponent(document.title));return false"><i class="fab fa-twitter"></i></button></li>
                            <li><button class="linkedin" onclick="window.open('https://www.linkedin.com/sharing/share-offsite/?url='+encodeURIComponent(location.href)+'&amp;t='+encodeURIComponent(document.title));return false"><i class="fab fa-linkedin-in"></i></button></li>
                        </ul>
                    </div>
                    <hr />
                    <div class="fb-comments" data-href="@ViewBag.Canonical" data-numposts="10" data-width="100%"></div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 pl-lg-4">
                @Html.Action("MenuArticle")
            </div>
            @if (Model.ServiceDtos.Any())
            {
                <div class="col-lg-12">
                    <div class="title-category text-center mt-4">@Resources.RelatedService</div>
                    <div class="recent-post-list">
                        @foreach (var item in Model.ServiceDtos)
                        {
                            @Html.Partial("_ServiceItem", item)
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@Html.Action("Footer")