@model ThuanPhat.Models.ServiceDto

<div class="service-item">
    <a href="@Url.Action("ServiceDetail", "Home", new { url = Model.Url })">
        @if (Model.Image != null)
        {
            <img data-src="@Path.Combine("/images/services/", Model.Image)" src="~/Content/images/img-main/base64.gif" class="lazyload" alt="@Model.ServiceName" />
        }
        else
        {
            <img src="~/Content/images/img-main/on-image.jpg" alt="@Model.ServiceName" />
        }
    </a>
    <div class="body">
        <div class="service-name truncate">
            <a href="@Url.Action("ServiceDetail", "Home", new { url = Model.Url, Culture })" title="@Model.ServiceName">
                @Model.ServiceName
            </a>
        </div>
        <div class="desc truncate">
            @Html.Raw(Model.Description)
        </div>
    </div>
</div>