@model ThuanPhat.Models.ArticleCategory
@{
    Layout = "~/Views/Shared/_AdminIframeLayout.cshtml";
    var categoryVi = Model.ArticleCategoryLangs.SingleOrDefault(a => a.ArticleCategoryId == Model.Id && a.LanguageId == 2);
}

<div>
    <h2>Cập nhật tiếng nhật</h2>
    <div class="box_content px-300">
        @if (ViewBag.Result == 1)
        {
            <div id="AlertBox" class="alert alert-success text-center"><strong>Cập nhật thành công</strong></div>
        }
        @using (Html.BeginForm("UpdateArticleCategoryLang", "Article", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)
            <input type="hidden" name="ArticleCategoryId" value="@Model.Id" />
            <input type="hidden" name="LangId" value="2" />
            <table class="form_table">

                <tr>
                    <td class="form_name">Bài gốc</td>
                    <td class="form_text"><strong>@Model.CategoryName</strong></td>
                </tr>
                <tr>
                    <td class="form_name">Tên danh mục</td>
                    <td class="form_text">
                        <input type="text" name="Name" required="" maxlength="100" class="form_control w300" value="@(categoryVi?.CategoryName)" />
                    </td>
                </tr>
                <tr>
                    <td class="form_name">Bài gốc</td>
                    <td class="form_text"><strong>@Model.Description</strong></td>
                </tr>
                <tr>
                    <td class="form_name">Giới thiệu ngắn</td>
                    <td class="form_text">
                        <textarea name="Description" class="form_control w300" rows="4">@(categoryVi?.Description)</textarea>
                    </td>
                </tr>
                <tr>
                    <td class="form_name">Bài gốc</td>
                    <td class="form_text">
                        <div class="mask-body">
                            @Html.Raw(Model.AboutText)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="form_name">
                        Ảnh giới thiệu<br />
                        (Áp dụng loại danh mục giới thiệu)
                    </td>
                    <td class="form_text">
                        <input type="file" name="AboutImage" value="" />
                        <span class="red-warring">Chấp nhận ảnh jpg, png, gif, jpeg < 4MB</span>
                    </td>
                </tr>
                @if (categoryVi.AboutImage != null)
                {
                    <tr>
                        <td class="form_name"></td>
                        <td class="form_text"><img class="img-border" src="@Path.Combine("/images/articleCategory/",  categoryVi.AboutImage)" /></td>
                    </tr>
                }
                <tr>
                    <td class="form_name">
                        Nội dung giới thiệu<br />
                        (Áp dụng loại danh mục giới thiệu)
                    </td>
                    <td class="form_text">
                        <textarea class="ckeditor" name="AboutText">@(categoryVi?.AboutText)</textarea>
                    </td>
                </tr>
                <tr>
                    <td class="form_name">Bài gốc</td>
                    <td class="form_text">
                        <div class="mask-body">
                            @Html.Raw(Model.MottoText)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="form_name">
                        Nội dung phương châm<br />
                        (Áp dụng loại danh mục giới thiệu)
                    </td>
                    <td class="form_text">
                        <textarea class="ckeditor" name="MottoText">@(categoryVi?.MottoText)</textarea>
                    </td>
                </tr>
                <tr>
                    <td class="form_name">Bài gốc</td>
                    <td class="form_text">
                        <div class="mask-body">
                            @Html.Raw(Model.FormationText)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="form_name">
                        Nội dung thành thành và phát triển<br />
                        (Áp dụng loại danh mục giới thiệu)
                    </td>
                    <td class="form_text">
                        <textarea class="ckeditor" name="FormationText">@(categoryVi?.FormationText)</textarea>
                    </td>
                </tr>
                <tr>
                    <td class="form_name">Đường dẫn</td>
                    <td class="form_text">
                        <input type="text" name="Url" maxlength="500" class="form_control w300" value="@(categoryVi?.Url)" />
                    </td>
                </tr>
                <tr>
                    <td class="form_name">Thẻ SEO Title</td>
                    <td class="form_text"><input type="text" name="TitleMeta" maxlength="500" class="form_control w300" value="@(categoryVi?.TitleMeta)" /></td>
                </tr>
                <tr>
                    <td class="form_name">Bài gốc</td>
                    <td class="form_text">
                        @Model.DescriptionMeta
                    </td>
                </tr>
                <tr>
                    <td class="form_name">Thẻ SEO Description</td>
                    <td class="form_text">
                        <textarea class="form_control w300" rows="4" name="DescriptionMeta">@(categoryVi?.DescriptionMeta)</textarea>
                    </td>
                </tr>
                <tr>
                    <td class="form_name"></td>
                    <td class="form_text"><input type="submit" class="quick-link" value="Cập nhật" /></td>
                </tr>
            </table>
        }
    </div>
</div>
